doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title #{title}
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    //link(href='css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/cover.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    //script(src='js/ie-emulation-modes-warning.js')
    script(src='js/colenso.js')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix(style='position: relative;')
            .inner
              h3.masthead-brand #{title}
              nav
                ul.nav.masthead-nav
                  li
                    a(href='#', onclick='goHome();') Home
                  
                  li
                    a(href='#', onclick='addLetter();') Add
                  li
                    a(href='#', onclick='searchLetter();') Search
          nav.navbar.navbar-default
            .container-fluid
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#browsenavbar', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #browsenavbar.collapse.navbar-collapse
              ul.nav.nav-justified
                li
                  a#privateletters(href='private_letters')
                    img(src='images/privateletters.png', alt='Private Letters', width='50', height='30')
                    br
                    h6 Private Letters
                li
                  a#diaries(href='diaries')
                    img(src='images/diaries.png', alt='Diaries', width='50', height='30')
                    h6 Diaries
                li
                  span.sr-only (current)
                  a#publications(href='publications')
                    img(src='images/publication.png', alt='Publications', width='50', height='30')
                    h6 Publications
                li
                  a#judgements(href='judgements')
                    img(src='images/judgement.png', alt='Publications', width='50', height='30')
                    h6 Judgements
                li
                  a#newpaperletters(href='newspaper_letters')
                    img(src='images/newspaper.png', alt='Newspaper Letters', width='50', height='30')
                    h6 Newspaper Letters
          #private-letter-browse.container-fluid
            h3  Publications 
            p| !{pub_letters}
           
          .mastfoot(style='position: relative;')
            .inner
              p
                a(href='http://www.williamcolenso.co.nz/') #{title}
                |  by 
                a(href='https://twitter.com/kszndra')  semillkasz
                | .
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\\/script>')
    script(src='js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    //script(src='js/ie10-viewport-bug-workaround.js')
